@font-face
{
    font-family:"DejaVuSans" ;
    src:local("DejaVu Sans"),url( "DejaVuSans.ttf" ) format("truetype");
    font-weight:normal
}
@font-face
{
    font-family:"DejaVuSans" ;
    src:local("DejaVu Sans Bold"),url( "DejaVuSans-Bold.ttf" ) format("truetype");
    font-weight:bold
}

#star {
    font-weight: bold;
    position: relative;
    top: -0.1em;
    right: -0.6em;
    z-index: 1;
}
#star:before, #star:after {
    content: "";
    position: absolute;
    top: 0px;
    height: 15px;
    width: 15px;
    background: #E4F00D;
    z-index: -1;
}
#star:before {
    -webkit-transform: rotate(22.5deg);
       -moz-transform: rotate(22.5deg);
        -ms-transform: rotate(22.5deg);
         -o-transform: rotate(22.5deg);
            transform: rotate(22.5deg);     
}
#star:after {
    -webkit-transform: rotate(67.5deg);
       -moz-transform: rotate(67.5deg);
        -ms-transform: rotate(67.5deg);
         -o-transform: rotate(67.5deg);
            transform: rotate(67.5deg);    
}

BODY
{
	font-family: DejaVuSans, 'DejaVu Sans', arial, sans-serif;
	font-size: 12.8px;
}
#page-wrap
{
	margin: 0px auto;
	width: 800px;
}
P
{
	margin-top: 1px;
	margin-bottom: 0px;
}
#header H1
{
	margin: 12px;
	font-size: 38.4pt;
	/*font-family: "Arial Black";*/
}
#main
{
	margin-left: 156px;
}
#main DIV
{
	position: relative;
	/*[disabled]background-color:#FAFAFA;*/
	/*[disabled]border:3px double #EAEAEA;*/
	/*[disabled]padding:6px;*/
	/*[disabled]font-family:Verdana;*/
	/*[disabled]font-size:10pt;*/
	/*[disabled]width:313px;*/
	margin-bottom: 18px;
	/*position: relative;*/
}

#module DIV
{
	background-color: #F5F5F5;
	border-left: 5px solid #9E9E9E;
	font-family: DejaVuSans, 'DejaVu Sans', arial, sans-serif;
	font-size: 12.8px;
	width: 574px;
	margin-bottom: 0px;
	padding-right: 5px;
	padding-left:  5px;
	padding-top: 3px;
	padding-bottom: 7px;
}
#module H1
{
	display: block;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0.3em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-size: 2em;
	font-weight: bold;
}
#module DIV A
{
	color: #2B558C;
	font-weight: bold;
	text-decoration: none;
}
#module DIV A:hover
{
	color: #000000;
}
#sidebar
{
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	width: 133px;
}
#sidebar UL
{
	list-style-type: none;
	padding: 0px;
	margin-top: 3px;
}
#sidebar A
{
    color: #FFFFFF;
	display: block;
	text-decoration: none;
	
    border-left: 6px solid transparent;
	padding-left: 4px;
	margin-bottom: 5px;
    background-color: rgb(43, 85, 140);
	padding: 6px;
}
#sidebar A:hover
{
	border-left: 6px solid #2B558C;
	background-color: #000000;
}
